@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Cheque-Black';
    src: url('/public/font/Cheque/Commercial/WEB/Cheque-Black.eot');
    src: url('/public/font/Cheque/Commercial/WEB/Cheque-Black.eot?#iefix') format('embedded-opentype'),
    url('/public/font/Cheque/Commercial/WEB/Cheque-Black.woff2') format('woff2'), url('/public/font/Cheque/Commercial/WEB/Cheque-Black.woff') format('woff'), url('/public/font/Cheque/Commercial/TTF/Cheque-Black.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Cheque-Regular';
        src: url('/public/font/Cheque/Commercial/WEB/Cheque-Regular.eot');
        src: url('/public/font/Cheque/Commercial/WEB/Cheque-Regular.eot?#iefix') format('embedded-opentype'),
        url('/public/font/Cheque/Commercial/WEB/Cheque-Regular.woff2') format('woff2'), url('/public/font/Cheque/Commercial/WEB/Cheque-Regular.woff') format('woff'), url('/public/font/Cheque/Commercial/TTF/Cheque-Regular.ttf') format('truetype');
        }

        @font-face {
            font-family: 'black_mango';
            src: url('/public/font/black_mango/TTF/BlackMango-Regular.ttf');
            }





.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


h1  {
    font-family: 'black_mango';
    letter-spacing: 2.5px;
}

p , li , span ,a, article , b , small , ::placeholder , select , label {
    /* font-family: "Open Sans", sans-serif !important; */
    font-family: "Comfortaa", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}



/* p,li{
    font-family: 'Cheque-Black';
    letter-spacing: 2.5px;
} */




/* .form-group{
    @apply
} */

.notification-badge {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.form-control{
    @apply border-[#fadde1] rounded-lg;
}

.btn-normal{
    @apply bg-[#fadde1] flex gap-4 justify-center rounded-lg p-3 hover:border hover:border-[#fadde1] hover:bg-transparent cursor-pointer ;
}
